body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}
aside {
    background-color: #000;
    grid-area: left;
}
header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
    left: 250px;
}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}

nav {
    margin-top: 100px;
}

footer {
    background: #222;
    grid-area: bottom;
}



/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/

/* Your Code Here */

.fa-spotify {
    margin-left: 20px;
    font-size: 40px;
}
.fa-home {
    margin-left: 30px;
}
.fa-search {
    margin-left: 30px;
    margin-top: 15px;
}
.fa-headphones {
    margin-left: 30px;
    margin-top: 15px;
}



/********************************/
/* Part B: Header & Nav Styling */
/********************************/

/* Your Code Here */
/* main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px calc(100vh - 60px);
    grid-template-areas:
       "header"
       "gallery";
     height: 100vh; 
}*/

header {
    display: grid;
    grid-template-columns: 10(auto);
    grid-template-rows: auto;
    grid-template-areas:
       "empty empty empty empty empty empty empty empty empty empty upgrades profiles";
}

#upgrade {
    grid-area: upgrades;
    margin-left: 10px;
    font-size: 20px;
    align-self: right;
    border-style: solid;
    border-radius: 30%;
    text-align: center;
}
#profile {
    grid-area: profiles;
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
    border-style: solid;
    border-radius: 30%;
    text-align: center;
    background-color: rgb(187, 186, 186);
}

nav {
    display: grid;
    grid-template-columns: 10(auto);
    grid-template-rows: auto;
    grid-template-areas:
       "playlists albums artists empty empty empty empty empty empty empty empty empty";
}

#playlists {
    grid-area: playlists;
    margin-left: 10px;
    font-size: 20px;
}
#albums {
    grid-area: albums;
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
}
#artists {
    grid-area: artists;
    margin-left: 10px;
    font-size: 20px;
    text-align: left;
}




/*************************/
/* Part C: Artists Panel */
/*************************/



.content {
    grid-area: gallery;
}


#featured-content {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artist-card {
    width: 200px;
    padding: 3px;
}

#fa-play {
    visibility: hidden;
    align-content: right;
}

fa-home {
    color: white;
}

.artist-card > div {
    border: solid 0px #CCC;
    background-color: rgb(62, 62, 62);
    padding: 10px;
    border-radius: 5px;
    height: 300px;
    margin: 4px;
    line-height: .99;
    
}


.artist-card img{
    width: 150px;
    height: 160px;
    border-radius: 50%;
    padding-bottom: 15px;
}

.play-button {
    margin-left: 80%;
    visibility: hidden;
}



@media screen and (max-width: 630px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 100px;
        grid-template-areas:
           "main"
           "bottom";
    }
    aside {
        display: none;
    }


    #upgrade {
        visibility: hidden;
    }
}





/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */


.artist-card:hover .play-button {
    visibility: visible;
    background-color: green;
    border-radius: 40%;
    width: 100px;
}

#home:hover {
    color: darkgrey;
}

#search:hover {
    color: darkgrey;
}

#library:hover {
    color: darkgrey;
}

#upgrade:hover {
    color: darkgrey;
    background-color: darkgrey;
}

#profile:hover {
    color: darkgrey;
    background-color: darkgrey;
}

#playlists:hover {
        color: darkgrey;
        text-underline-position: below green;
        outline-color: green;
    }
    
#albums:hover {
        color: darkgrey;
    }
    
#artists:hover {
        color: darkgrey;



