

* {
    box-sizing: border-box;
    background-color: #2D3142;
}

body {
    margin: 3px;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}
header, section {
    padding: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #2D3142;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
}

h3 {
    color: white;
    background: rgb(0, 0, 0, 0);
    text-align: center;
}

.parallax-one{
    border: solid 1px #000;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;
    height: 30px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.parallax-one {
    background-image: url(https://image.freepik.com/free-vector/vector-technology-design-dark-blue-color-background_43778-490.jpg);
  }